<html>
    <head>
        <title>LitRevu</title>
    </head>
    <body>
        <header>
            <nav>
                <Ul>
                    <li><img src="" alt='Logo'></li>
                    <li class="navbar"><a href="{% url 'home' %}">Flux</a></li>
                    <li class="navbar"><a href="{% url 'login' %}">Se Connecter</a></li>
                    <li class="navbar"><a href="{% url 'logout' %}">Se Déconnecter"</a></li>

                </Ul>
            </nav>
        </header>
        <h1>LitRevu</h1>
        {% block content %}{% endblock content %}
        {% if user.is_authenticated %}
            <p>Bonjour {{ request.user.first_name }} vous êtes connecté!.
                <a href="{% url 'logout' %}">Se Déconnecter</a></p>
        {% endif %}
        <footer>
      <div class="footer">
        <!-- Navigation links -->
        <div class="row">
          <ul>
            <li><a href="#">Contact us</a></li>
            <!-- Contact us link -->
            <li><a href="#">Our Services</a></li>
            <!-- Our Services link -->
            <li><a href="#">Privacy Policy</a></li>
            <!-- Privacy Policy link -->
            <li><a href="#">Terms & Conditions</a></li>
            <!-- Terms & Conditions link -->
            <li><a href="#">Career</a></li>
            <!-- Career link -->
          </ul>
        </div>

        <!-- Copyright -->
        <div class="row">
          Sham Tech Copyright © 2023 Sham Tech - All rights reserved || Designed
          By: Mahmoud ALHIJJIRI
        </div>
      </div>
    </footer>
    </body>
</html>